{% extends 'admin.twig' %}

{% block main %}
<form action="admin.php?page=article&action=create" method="post" enctype="multipart/form-data">
	<input type="hidden" name="id_theme" value="{{ id_theme }}">
	<p><input type="text" name="titre" placeholder="Titre"></p>
	<p><input type="text" name="redacteur" placeholder="Rédacteur"></p>
	<textarea cols="100" rows="10" name="accroche">Saisir une accroche</textarea>
	<p><input type="file" name="image"></p>
	<p><input type="submit" value="Envoyer"></p>
</form>
{% endblock %}
