header,
main {
	margin: 20px auto;
	padding: 20px;
	background-color: #eee;
}

.block {
	margin: 20px 0;
	border: 1px solid black;
	background-color: #ddd;
}

.view {
	margin: 20px 0;
	padding: 5px;
	border: 1px solid black;
	background-color: lightblue;
}

.control {
	text-align: right;
	padding: 5px;
	border-top: 1px solid black;
	background-color: lightyellow;
}

img {
	max-width: 300px;
	max-width: 200px;
	margin: 10px 30px;
	border: 1px solid black;
}
